# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

main.js

# Ignore the symbolic links in the test-vault
test-vault/.obsidian/plugins/vault-explorer/main.js
test-vault/.obsidian/plugins/vault-explorer/manifest.json
test-vault/.obsidian/plugins/vault-explorer/styles.css

# Ignore the workspace. There was a initial workspace created in the test-vault
# This file updates too frequently and is not useful for version control
test-vault/.obsidian/workspace.json

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

dist/
