.vault-explorer-tab {
	padding: 4px 6px;
}

.vault-explorer-tab--active {
	background-color: var(--background-modifier-hover);
}

.vault-explorer-tab:hover {
	background-color: var(--background-modifier-hover);
}
