.vault-explorer-card {
	padding: 20px;
	box-shadow: var(--shadow-s);
	border: 1px solid var(--background-modifier-border);
}

.vault-explorer-card__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	column-gap: 0.5rem;
}

.vault-explorer-card__content {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.vault-explorer-card__title {
	cursor: pointer;
	color: var(--text-accent)
}

.vault-explorer-card__tags {
	display: flex;
	column-gap: 0.25rem;
	height: min-content;
	overflow-x: auto;
}

.vault-explorer-card__tags::-webkit-scrollbar {
	display: none;
}

.vault-explorer-card__labels {
	display: flex;
}

.vault-explorer-property-label {
	margin-left: 8px;
	font-size: var(--font-smallest);
	color: var(--text-muted);
}
