.vault-explorer-list-item {
	max-width: 800px;
	padding-bottom: 2px;
	border-bottom: 1px solid var(--background-modifier-border);
	margin-bottom: 10px;
}

.vault-explorer-list-item__title {
	cursor: pointer;
	color: var(--text-accent)
}
