.vault-explorer {
	display: flex;
	flex-direction: column;
}

.vault-explorer-header {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	margin-bottom: 2rem;
}

.vault-explorer input[type="text"] {
	width: 100%;
	max-width: 300px;
}

